:root {
	--blue: #2476ff;
	--header: black;
	--font: #677788;
	--sketch: #01c9a7;
	--gradient-1: #d2d6d4;
	--gradient-2: #c7daed;

	--size5: 0.313rem;
	--size10: 0.625rem;
	--size14: 0.875rem;
	--size15: 0.938rem;
	--size16: 1rem;
	--size18: 1.125rem;
	--size20: 1.25rem;
	--size25: 1.5663rem;
	--size30: 1.875rem;
	--size40: 2.5rem;
	--size50: 3.125rem;
	--size100: 6.25rem;
	--size150: 9.375rem;
	--size200: 12.5rem;
	--size300: 18.75rem;
}
body {
	font-family: sans-serif;
	font-weight: 400;
	line-height: 1.6;
	letter-spacing: 0;
	color: #677788;
	margin: 0;
	padding: 0;
	font-style: normal;
}
*::after,
::before {
	box-sizing: border-box;
}

.container {
	padding-left: 25px;
	padding-right: 25px;
	margin-left: auto;
	margin-right: auto;
}
ul {
	list-style: none;
	text-decoration: none;
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
}
img {
	width: 100%;
	height: 100%;
	vertical-align: middle;
	border-style: none;
}
.btn {
	padding: var(--size10) var(--size20);
	border-radius: var(--size30);
	margin-top: -20px;
	background-color: var(--blue);
	color: white;
	border: none;
	font-weight: 100;
	padding: var(--size14) 25px;
}
.btn:hover {
	box-shadow: 2px 5px 5px rgb(0 0 0 / 15%);
}
@media screen and (min-width: 1200px) {
	.container {
		max-width: 1140px;
	}
}
